{% extends 'base.html' %}

<!-- Content -->
{% block content %}
<div>
  <div class="pb-6 pt-6"><h1 class="sm:hidden text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">All Posts</h1></div>
  <div class="flex sm:space-x-24">
    <!-- Tag Lists -->
    <div class="hidden h-full sm:flex flex-wrap bg-gray-50 dark:bg-gray-200 shadow-md pt-5 dark:shadow-gray-800/40 rounded min-w-[260px] max-w-[260px]">
      <div class="py-4 px-6">
        <h3 class="text-primary-500 font-bold uppercase">All Posts</h3>
        <ul>
          {% for tag in tag_list %}
          <li class="my-6">
            <a class="px-3 py-2 text-sm font-medium uppercase text-sky-400 hover:text-sky-500" aria-label="View posts tagged next-js" href="/tags/next-js">{{ tag.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div>
      <ul class="divide-y-2 divide-gray-200">
        <!-- posts  -->
        {% for post in post_list %}
        <li class="py-12">
          <article>
            <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
              <dl>
                <dt class="sr-only">Published on</dt>
                <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
                  <time datetime="{{ post.created_at }}">{{ post.published_at|date }}</time>
                </dd>
              </dl>
              <div class="space-y-5 xl:col-span-3 md:ml-6">
                <div class="space-y-6">
                  <div>
                    <h2 class="text-2xl font-bold leading-8">{{ post.title }}</h2>
                    <div class="flex flex-wrap">
                      {% for tag in post.tags.all %}
                      <a class="mt-2 mr-3 text-sm font-medium uppercase text-sky-500 hover:text-sky-600 dark:hover:text-sky-400 px-1 bg-sky-100 rounded" href="{% url 'post_list_by_tag' tag.slug %}"> {{ tag.name }} </a>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="prose max-w-none text-gray-500 dark:text-gray-400">{{ post.description }}</div>
                </div>
                <div class="text-base font-medimu leading-6">
                  <a class="text-sky-500 hover:text-primary-600 dark:hover:text-sky-800" aria-label='Read "Release of Tailwind Nextjs Starter Blog v2.0"' href="{{ post.get_absolute_url }}">Read more →</a>
                </div>
              </div>
            </div>
          </article>
        </li>
        {% endfor %}
      </ul>
      <div class="space-y-2 pb-8 pt-6 md:space-y-5">
        <nav class="flex justify-between">
          <button class="cursor-auto disabled:opacity-50" {% if not post_list.has_previous %}disabled{% endif %}>Previous</button>

          <span>{{ post_list.number }} of {{ post_list.paginator.num_pages }}</span>
          <button rel="next" class="disabled:opacity-50" href="?page={{ blog_list.next_page_number }}" {% if not post_list.has_next %}disabled{% endif %}>Next</button>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
