{% extends "base.html" %}

<!-- Content -->
{% block content %}
<div class="divide-y divide-gray-200 border-b-2">
  <div class="space-y-2 pb-8 pt-6 md:space-y-5 border-solid">
    <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14">Latest</h1>
    <p class="text-lg leading-7 text-gray-500">My thoughts as an indine hacker</p>
  </div>
</div>
<!-- Blog Lists -->
<ul class="divide-y-2 divide-gray-200">
  <!-- posts  -->
  {% for post in post_list %}
  <li class="py-12">
    <article>
      <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
        <dl>
          <dt class="sr-only">Published on</dt>
          <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
            <time datetime="{{ post.created_at }}">{{ post.created_at|date }}</time>
          </dd>
        </dl>
        <div class="space-y-5 xl:col-span-3">
          <div class="space-y-6">
            <div>
              <h2 class="text-2xl font-bold leading-8">{{ post.title }}</h2>
            </div>
            <div class="prose max-w-none text-gray-500 dark:text-gray-400">{{ post.body }}</div>
          </div>
          <div class="text-base font-medimu leading-6">
            <a class="text-sky-500 hover:text-primary-600 dark:hover:text-sky-800" aria-label='Read "Release of Tailwind Nextjs Starter Blog v2.0"' href="{% url 'post_detail' post.pk %}">Read more →</a>
          </div>
        </div>
      </div>
    </article>
  </li>

  {% endfor %}
</ul>
{% endblock content %}
