{% extends "base.html" %}

<!-- Content -->
{% block content %}
<ul class="divide-y-8 divide-gray-200">
  <!-- posts  -->
  {% for post in post_list %}
  <li class="py-12">
    <article>
      <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
        <div class="space-y-5 xl:col-span-3">
          <div class="space-y-6">
            <div>
              <h2>{{ post.title }}</h2>
            </div>
          </div>
        </div>
      </div>
    </article>
  </li>

  {% endfor %}
</ul>
{% endblock content %}
