{% extends "base.html" %}

<!-- Content -->
{% block content %}
<div class="divide-y divide-gray-200 border-b-2">
  <div class="space-y-2 pb-8 pt-6 md:space-y-5 border-solid">
    <h1 class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14 mb-4">My Journey In Tech 🚶🏻</h1>
    <ul class="text-lg leading-7 text-gray-500 list-disc ml-4">
      <li>Full Stack Software Engineer at Retykle</li>
      <li>Founder of Square One Software</li>
      <li>Switch career to software engineering</li>
      <li>Taught myself how to code while teaching English</li>
    </ul>
    <p class="text-lg leading-7 text-gray-500">This website is a collection of my thoughts and learnings in tech. I hope you find it useful! Check out my latest blog posts below 👇🏼</p>
  </div>
</div>
<!-- Blog Lists -->
<ul class="divide-y-2 divide-gray-200">
  <!-- posts  -->
  {% for post in post_list %}
  <li class="py-12">
    <article>
      <div class="space-y-2 xl:grid xl:grid-cols-4 xl:items-baseline xl:space-y-0">
        <dl>
          <dt class="sr-only">Published on</dt>
          <dd class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400">
            <time datetime="{{ post.created_at }}">{{ post.published_at|date }}</time>
          </dd>
        </dl>
        <div class="space-y-5 xl:col-span-3">
          <div class="space-y-6">
            <div>
              <h2 class="text-2xl font-bold leading-8">{{ post.title }}</h2>
              <div class="flex flex-wrap">
                {% for tag in post.tags.all %}
                <a class="mt-2 mr-3 text-sm font-medium uppercase text-sky-500 hover:text-sky-600 dark:hover:text-sky-400" href="{% url 'post_list_by_tag' tag.slug %}"> {{ tag.name }} </a>
                {% endfor %}
              </div>
            </div>
            <div class="prose max-w-none text-gray-500 dark:text-gray-400">{{ post.body }}</div>
          </div>
          <div class="text-base font-medimu leading-6">
            <a class="text-sky-500 hover:text-primary-600 dark:hover:text-sky-800" aria-label='Read "Release of Tailwind Nextjs Starter Blog v2.0"' href="{{ post.get_absolute_url }}">Read more →</a>
          </div>
        </div>
      </div>
    </article>
  </li>
  {% endfor %}
</ul>
<div class="flex justify-end text-base font-medium leading-6"><a class="text-sky-500 hover:text-sky-800 dark:hover:text-sky-400" aria-label="All posts" href="{% url 'blogs' %}">All Posts →</a></div>

{% endblock content %}
